@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MinimalBold;
  src: url("./fonts/FC\ Minimal\ Bold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: MinimalRecular;
  src: url("./fonts/FC\ Minimal\ Regular.ttf");
  font-weight: 500;
}

@layer base {
  body {
    @apply bg-[#3D3C42];
  }
}

@layer components {
  .hoverBtn {
    @apply p-4 hover:bg-white hover:text-black transition-colors duration-200;
  }
  .hoverBtnScroll {
    @apply p-4 hover:bg-black  hover:text-white transition-colors duration-200;
  }
  .hoverBtnHam {
    @apply mx-16 p-4 hover:bg-white hover:text-black transition-colors duration-200;
  }
  .hoverBtnScrollHam {
    @apply mx-16 p-4 hover:bg-black  hover:text-white transition-colors duration-200;
  }
}
